<form action="/posts/create" method="post">
  <fieldset>
    <legend>New Post</legend>

    <label>Title <small>required</small>
      <input name="title" type="text" placeholder="Your posts title..." />
    </label>

    <label>Body <small>required</small>
      <textarea name="body" placeholder="The content of the body of your post..."></textarea>
    </label>

    <button class="button">Save</button>
  </fieldset>
</form>
