<p>These are the musings of a developer who frequently
finds himself in situations where he is hopelessly out
of depth.</p>
<hr />
{{range .Posts }}
<article>
  <h2><a href="/posts/{{.Id}}">{{ .Title }}</a></h2>
  <div class="row">
    <div class="large-12 columns">
      {{ .Body }}
    </div>
  </div>
  <hr />
</article>
{{ end }}
