<form accept-charset="UTF-8" action="/admin/posts" method="post"> 
  <fieldset>
    <legend>Edit Post</legend>
    <div class="row">
      <div class="large-16 columns">
        <label>Title
          <input name="title" type="text" placeholder="Title..." value="{{.Title}}" />      
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-16 columns">
        <label>Body
          <textarea name="body" placeholder="Body...">{{.Body}}</textarea>
        </label>
      </div>
    </div>
    <button class="button">Save</button>
  </fieldset>
</form>
